<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('../partials/headline.ejs') %>
      <%- include('../partials/header.ejs') %>
    <table>
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
      <% items.forEach(item => { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.price %> kr</td>
        </tr>
      <% }) %>
      </tbody>
    </table>
    </div>


  </body>
</html>
